<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <style>
        body {
            background: #f5f5f5;
            font-size: 13px;
        }

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .main-box {
            width: 1200px;
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;
        }

        .side {
            background: #fff;
            padding: 15px;
            border: 1px solid #ddd;
            margin-right: 20px;
            border-radius: 5px;
        }

        .side li {
            margin: 10px 0;
        }

        .active {
            font-weight: bold;
        }
    </style>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui/layui.js"></script>
</head>
<body>
<div class="container">
    <div class="main-box">
        <div class="side">
            <ul>
                {if $active == 2}
                    <li class="active">管理员管理</li>
                {else/}
                    <li>管理员管理</li>
                {/if}
                <li>个人信息</li>
                <li>学生信息</li>
                <li>班级信息</li>
                <li>课程管理</li>
                <li>退出</li>
            </ul>
        </div>
        <div class="con-box">
            <div style="padding: 15px;">
                <button id="addAdmin" type="button" class="layui-btn layui-btn-sm layui-btn-normal" style="margin-bottom: 4px">添加管理员</button>
                <table class="layui-hide" id="adminList"></table>
            </div>
            <div id="addBox" class="add-box" style="display: none;">
                <form class="layui-form" action="" lay-filter="demo-val-filter">
                    <input type="hidden" name="id">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline layui-input-wrap">
                            <input type="text" name="username" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline layui-input-wrap">
                            <input type="text" name="password" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <label class="layui-form-label">角色组 </label>
                        <div class="layui-input-inline">
                            <select name="groupId" lay-verify="required">
                                <option value="">请选择</option>
                                {foreach $adminGroups as $group}
                                <option value="{$group.id}">{$group.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit lay-filter="saveBtn">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="operation">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
    </div>
</script>
<script>
    const FAIL = 2;
    const SUCCESS = 6;
    const SUCCESS_CODE = 0;

    layui.use(['jquery', 'table', 'form'], function () {
        let $ = layui.jquery;
        let form = layui.form;
        let table = layui.table;

        // 创建渲染实例
        table.render({
            elem: '#adminList',
            url: '/apiAdmin/adminList',
            height: '315px',
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
                groups: 3,
                first: false,
                last: false
            },
            limit: 5,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                // 未自定义模板的普通列
                {field: 'id', fixed: 'left', width: 80, title: 'ID', sort: true},
                // 模板 - 选择器写法
                {field: 'username', width: 200, title: '用户'},
                {field: 'score', width: 80, title: '积分'},
                {field: 'createTime', width: 160, title: '创建时间'},
                {title: '操作', minWidth: 200, templet: '#operation'}
            ]]
        });

        // 触发操作列按钮
        table.on('tool(adminList)', function (obj) {
            let data = obj.data;
            console.log(data)

            if (obj.event === 'edit') {
                layer.open({
                    title: '编辑 - id:' + data.id,
                    type: 1,
                    area: ['80%', '80%'],
                    content: '<div style="padding: 16px;">自定义表单元素</div>'
                });
            }
            else if (obj.event === 'delete') {
                layer.confirm('确认删除此条数据吗？', {btn: ['确定', '关闭']}, function (index) {
                    layer.close(index);

                    // 点击确认，调用删除接口
                    $.ajax({
                        type: 'post',
                        url: '/apiAdmin/deleteAdmin',
                        data: {
                            id: data.id
                        },
                        dataType: 'json',
                        success(res) {
                            layer.msg(res['msg'], {icon: (res.code === SUCCESS_CODE ? SUCCESS : FAIL)});
                            table.reload('adminList');
                        }
                    });
                });
            }
        });

        // 提交表单
        form.on('submit(saveBtn)', function(data){
            let field = data.field;
            $.ajax({
                type: 'post',
                url: '/apiAdmin/addAdmin',
                data: {
                    username: field.username,
                    password: field.password,
                    groupId: field.groupId,
                },
                dataType: 'json',
                success(res) {
                    layer.msg(res['msg'], {icon: (res.code === SUCCESS_CODE ? SUCCESS : FAIL)});
                    layer.closeAll();
                    table.reload('adminList');
                }
            });

            return false;
        });

        // 添加管理员按钮
        $("[id='addAdmin']").click(function () {
            layer.open({
                type: 1,
                area: ['400px', '350px'],
                title: '添加管理员',
                shade: 0.6,
                shadeClose: true,
                content: $('#addBox')
            });
        });
    });
</script>
</body>
</html>