{extend name="common\base"/}
{block name="title"}{$title}{/block}

{block name="main"}
<div style="padding: 15px;">
    <button id="addAdmin" type="button" class="layui-btn layui-btn-sm layui-btn-normal" style="margin-bottom: 4px">添加管理员</button>
    <table class="layui-hide" id="adminList"></table>
</div>
<div id="addBox" class="add-box" style="display: none;">
    <form class="layui-form" action="" lay-filter="adminForm">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="username" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" id="passwordBox">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="password" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">角色组 </label>
            <div class="layui-input-inline">
                <select name="groupId" lay-verify="required">
                    <option value="">请选择</option>
                    {foreach $adminGroups as $group}
                    <option value="{$group.id}">{$group.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="saveBtn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}


{block name="javascript"}
<script type="text/html" id="operation">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
    </div>
</script>
<script type="text/html" id="adminLevel">
    <div class="layui-clear-space">
        <span> {{= d.groupId == 2 ? '二级管理员' : (d.groupId == 3 ? '三级管理员' : '超级管理员')}} </span>
    </div>
</script>
<script>
    const FAIL = 2;
    const SUCCESS = 6;
    const SUCCESS_CODE = 0;

    // 打开修改或添加管理员弹窗
    function openAdminDialog(title, ele) {
        layer.open({
            type: 1,
            area: ['400px', '350px'],
            title: title,
            shade: 0.6,
            shadeClose: true,
            content: ele
        });
    }

    layui.use(['jquery', 'table', 'form'], function () {
        let $ = layui.jquery;
        let form = layui.form;
        let table = layui.table;

        // 创建渲染实例
        table.render({
            elem: '#adminList',
            url: '/apiAdmin/adminList',
            height: '315px',
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
                groups: 3,
                first: false,
                last: false
            },
            limit: 5,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', fixed: 'left', width: 80, title: 'ID', sort: true},
                {field: 'username', width: 160, title: '用户'},
                {field: 'score', width: 80, title: '积分'},
                {field: 'groupId', width: 120, title: '级别', templet: '#adminLevel'},
                {field: 'createTime', width: 160, title: '创建时间'},
                {title: '操作', minWidth: 200, templet: '#operation'}
            ]]
        });

        // 触发操作列按钮
        table.on('tool(adminList)', function (obj) {
            let data = obj.data;

            if (obj.event === 'edit') {
                form.val('adminForm', {
                    id: data.id,
                    username: data.username,
                    groupId: data.groupId,
                });

                // 修改管理员弹窗显示密码输入框
                $('#passwordBox').hide();
                // 移除必填校验
                $('input[name="password"]').removeAttr('lay-verify');
                openAdminDialog('编辑管理员', $('#addBox'));
            }
            else if (obj.event === 'delete') {
                layer.confirm('确认删除此条数据吗？', {btn: ['确定', '关闭']}, function (index) {
                    layer.close(index);

                    // 点击确认，调用删除接口
                    $.ajax({
                        type: 'post',
                        url: '/apiAdmin/deleteAdmin',
                        data: {
                            id: data.id
                        },
                        dataType: 'json',
                        success(res) {
                            layer.msg(res['msg'], {icon: (res.code === SUCCESS_CODE ? SUCCESS : FAIL)});
                            table.reload('adminList');
                        }
                    });
                });
            }
        });

        // 添加管理员按钮
        $("[id='addAdmin']").click(function () {
            form.val('adminForm', {
                id: null,
                username: null,
                password: null,
                groupId: null,
            });

            // 添加管理员弹窗显示密码输入框
            $('#passwordBox').show();
            // 添加必填校验
            $('input[name="password"]').attr('lay-verify', 'required');

            openAdminDialog('添加管理员', $('#addBox'));
        });

        // 提交表单
        form.on('submit(saveBtn)', function(data){
            let field = data.field;
            let id = field.id;
            let username = field.username;
            let password = field.password;
            let groupId = field.groupId;

            $.ajax({
                type: 'post',
                url: id ? '/apiAdmin/updateAdmin' : '/apiAdmin/addAdmin',
                data: {id, username, password, groupId},
                dataType: 'json',
                success(res) {
                    layer.msg(res['msg'], {icon: (res.code === SUCCESS_CODE ? SUCCESS : FAIL)});
                    layer.closeAll();
                    table.reload('adminList');
                }
            });

            return false;
        });
    });
</script>
{/block}